<template name="layout">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<title>Clémentine de Chabaneix</title>
</head>

<body>
			{{> title }}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-2 col-md-offset-1 hidden-sm hidden-xs" id="menu">
				{{> menu}}
			</div>
			<div class="col-md-9 content">
				{{> yield}}
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-12 visible-xs visible-sm">
				{{> menuSmall}}
			</div>
		</div>
	</div>
</body>
</template>
