<template name="Img">
	<div class="img">
		<div class="img-content {{type}}">
			<img src=/img/{{path}}>
			<div>
				<span>{{name}} <a href="/imgs/{{_id}}">/</a> {{type}} -{{dim}}</span>
			</div>
		</div>
	</div>
</template>

