<template name="imgInsert">

{{#if currentUser}}

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>_img insert:</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name:</label>
  <div class="col-md-4">
  <input id="name" name="name" placeholder="" class="form-control input-md" type="text">
  </div>
</div>


<div class="form-group">
	<label class="col-md-4 control-label" for="page">Page:</label>
	<div class="col-md-4">
		<input id="page" name="page" placeholder="" class="form-control input-md" type="text">
		<span class="help-block">ex: Dessin</span>
	</div>
</div>

<div class="form-group">
	<label class="col-md-4 control-label" for="displayType">Type:</label>
	<div class="col-md-4">
		<input id="type" name="type" class="form-control input-md" type="text">
		<span class="help-block">ex: crayon noir sur papier</span>
	</div>
</div>

<!-- File Button -->
<div class="form-group">
	<label class="col-md-4 control-label" for="path">Browse picture:</label>
	<div class="col-md-4">
		<input id="path" name="path" class="input-file" type="file">
		<span class="help-block">Put pictures under /public/img/</span>
	</div>
</div>

<!-- Text input-->
<div class="form-group">
	<label class="col-md-4 control-label" for="dim">Dimensions:</label>
	<div class="col-md-4">
		<input id="dim" name="dim" placeholder="" class="form-control input-md" type="text">
		<span class="help-block">ex: 5 x 1.2 x 19 cm</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="insert"></label>
  <div class="col-md-4">
    <button id="inser" name="insert" class="btn btn-primary">insert</button>
  </div>
</div>

</fieldset>
</form>

{{/if}}
</template>


