<template name="imgPage">
	<div class="row-fluid">
		<div class="content-title">{{name}}</div>
			{{> Img}}
			{{#if currentUser}}
				{{> updateForm}}
			{{/if}}
	</div>
</template>

<template name="updateForm">
	<div class="row-fluid">
	<form>
			<div class="form-field col-md-3">
				<label for="name">name</label><br/>
				<input name="name" type="text" value="{{name}}"/><br/>
			</div>
			<div class="form-field col-md-3">
				<label for="page">page</label><br/>
				<input name="page" type="text" value="{{page}}"/><br/>
			</div>
			<div class="form-field col-md-3">
				<label for="type">type</label><br/>
				<input name="type" type="text" value="{{type}}"/><br/>
			</div>
			<div class="form-field col-md-3">
				<label for="dim">dim</label><br/>
				<input name="dim" type="text" value="{{dim}}"/><br/>
			</div>
			<div class="row update-delete">
				<input type="submit" value="update" class="btn btn-primary col-md-3 col-md-offset-2"/>
				<a class="btn btn-danger delete col-md-3 col-md-offset-1" href="#">Delete</a>
			</div>
	</form>
</div>
</template>
