<template name="about">
	<div class="content-title">About</div>
	<div class="autoportrait">
		<img src="/img/else/about/autoportrait.jpg"/>
	</div>
	<div class="about-description ">
		<p>
			I'm a French sculptor. I work with epoxy resin or ceramic, iron and sometimes wood. I often sculpt young 'Burtonian' girls, kind of 'Alice in Wonderland', teenagers, romantic, a bit gothic... My work is about leaving childhood, metamorphose, struggle. I draw also with very thin lines, minimalist black and white drawings, with the same subject.
		</p>
	</div>
	<div class="content-title">Bio</div>
	<p>
			<br>
			2014 :<br>
			«Indelible» - Alexi Era Gallery, Saint-Louis (Missouri), USA<br>
			<br>
			2013 :<br>
			« Lacrima Aquarium » - Acquario Romano Museum, Rome<br>
			« Silent Circus » - Solo show  - Dorothy Circus Gallery, Rome<br>
			« Mad Hatters » - Flower Pepper Gallery, Los Angeles<br>
			« Au-delà de mes rêves » - Monastère Royal de  Brou, Bourg-en-Bresse - France<br>
			« Minimenta » - Point Rouge Gallery, Paris<br>         
			« Beyond my dreams » - Galerie Mondapart, Boulogne - France<br>
			« Art au Carré » - Galerie Albane, Nantes - France<br>
			<br>
			2012 :<br>										
			« Pop Surrealism-What a wonderfool wold » - Casa del Conte Vedre Museum, Turin - Italie<br>	
			« I Love Candies » - Dorothy Circus Gallery, Rome - Italie<br>
			<br>
			2011 :<br>									    
			Exposition collective - Dorothy Circus Gallery, Rome - Italie<br>		    
			Exposition collective - Galerie Dufay-Bonnet, Paris<br>			  
			« AAF- Artfair » - Bruxelles - Belgique<br>
			<br>
			2010 :<br>										
			« St - Art Artfair » - Strasbourg - France<br>			
			Solo show - Galerie Dufay-Bonnet, Paris<br>					     
			« Chic - Artfair » - Musée de la mode et du design, Paris<br>
			<br>
			2009 :<br>										
			Création d’accessoires pour « Hermès Collection printemps-été » - Scénographie: Hilton Mc Connico.<br>	
			Design et création d’éléments de décors pour la tournée de  - M - « Les Saisons de Passage »<br>
			<br>
			2008 :<br>									         
			Solo show - Galerie Derrière la Dune, LeTouquet - France<br>		
			« AAF- Artfair » - Paris<br>
			<br>
			2007 :<br> 										  
			Solo show - Galerie Derrière la Dune, LeTouquet - France<br>			
			Exposition collective - Galerie La Predelle, Besançon - France<br>
			<br>
			2006 :<br>						
			Exposition collective - Galerie La Predelle, Besançon - France<br>
			Exposition collective - « la Galerie Imaginaire » - Le Bon Marché, Paris<br>
			Exposition collective - Galerie Edgar, le Marchand d’Art, Paris<br>
			<br>
			2005 :<br>										
			« A la Recherche du Beau » réalisation de sculptures pour l’exposition - Hermès, Paris<br>
			↳ Scénographie: Hilton Mc Connico.<br>                                           
			« Fondation Cartier - Carte Blanche à Marion Levy » sculptures/installation - Hôtel Lutétia, Paris<br>
			<br>
			2004 :<br> 											
			Solo show - Galerie Edgar, le Marchand d’Art, Paris<br>			             						
			Réalisation de sculptures pour l’exposition annuelle des « Grandes Maisons de Porcelaine » (CNEPL)<br>
			Scénographie: Gaétane Desproges, Limoges - France<br>
			<br>
			2003 :<br>											
			Solo show - Galerie Edgar, le Marchand d’Art, Paris<br>		
			Exposition collective - Galerie Béatrice Soulié, Paris<br>           	
			« Ombilical Love » - Arthus-Bertrand, Paris<br>
		</p>	
	</template>
