#header{
	margin-top: 3%;
}

#title{
	margin-top: 2%;
	margin-left: 10.2%;
	font-size: 1.5em;
}

#title a:hover{
	text-decoration: none;
}

#title a:focus{
	text-decoration: none;
	color: inherit;
	outline: 0;
}
.title-small
{
	font-size: 1.4em;
	margin-bottom: 1em;
	text-align: center;
}
.title-small:focus{
	text-decoration: none;
	color: inherit;
	outline: 0;
}

.title-small:hover{
	text-decoration: none;
}

.mySubmitButton{
	background-color: black;
	width: 120%;
	height: 1.95em !important;
	color: white;
	border-width: 0px;
	font-family: helvetica;
}
.autoportrait img{
	width: 40%;
	margin-left: 30%
}

.thanks-content{
	font-size: 16.5px;
	text-align: justify;
}

.contact-img img{
	width: 60%;
	margin-left: 18%
}

.mailing-list{
	padding-top: 2em;
}
.about-description p{
	text-align: justify;
	padding-bottom: 2em
}

.menu{
	 list-style-type: none;
	 padding: 0;
   margin: 0;
	 padding-top: 23%;
	 font-size: 1em;
}

.content{
	margin-top: 3%;
	max-width: 48em;
}

.content-title {
    font-size: 1.2em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #000;
		margin-bottom: 2%
}

.menu-block{
	padding-bottom: 15%;
	margin-top: 3%;
}

.menu-block li{
	margin-bottom: 5%;
	padding-left: 5%;
}

.menu-block li:hover{
	border-left: 1px solid black;
	margin-left: -1px;
}

.menu-block li a:hover{
	text-decoration: none;
}

.menu-small{
	 list-style-type: none;
	 padding: 0;
   margin: 0;
	 font-size: 1em;
}

.menu-small-block {
	text-decoration: none;
}

a{
    color: inherit;
}

a:focus{
	outline: 0;
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: inherit;
}

img{
	width: 100%;
}

.img{
	margin-bottom:5%
}

.scp-menu{
	margin-bottom: 2%;
}

.form-field{
	margin-bottom: 2%;
}

.update-delete{
	margin-bottom: 5%
}
