<template name="contact">
	<div class="content-title">Contact</div>
	<div class="contact-img">
		<img src="/img/else/contact/contact1.jpg"/>
	</div>
	<p>
		Phone: +33 6 80 06 04 73
	</p>
	<p>
		You can e-mail me at: contact@clementine-chabaneix.com
	</p>
	<div class="content-title mailing-list">Mailing list</div>

<div class="row-fluid">
		<form action="http://clementine-chabaneix.us6.list-manage1.com/subscribe/post" method="POST">
		<div class="col-xs-10" style="padding: 0">
			<input name="u" value="b007918815d0a3519d65666ac" type="hidden">
			<input name="id" value="ad89d14fdb" type="hidden">
			<div id="mergeTable" class="mergeTable">
				<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
					<div class="field-group">
						<input value="E-mail" onfocus="if (this.value=='E-mail') this.value='';" style="width: 100%; margin-bottom: 3em" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" type="email">
					</div>
				</div>
			</div>
			</div>
			<!-- real people should not fill this in and expect good things -->
			<div class="col-xs-2">
			<div class="submit_container clear">
				<input style="padding: 0" class="mySubmitButton" name="submit" value="ok" type="submit">
			</div>
		</div>
		</form>
		</div>
</template>
