<template name="/">
		<div class="row-fluid">
			{{> homeList}}
		</div>
</template>


<template name="homeList">
	<div class="home-imgs">
		{{#each imgs}}
			{{> homeImg}}
		{{/each}}
	</div>
</template>

<template name="homeImg">
			<div>
				<img src=/img/{{path}}>
			</div>
</template>
