<template name="menuSmall">
		<div class="col-md-9 content">
			<div class="menu-small">
				<div class="row">
					<div class="col-xs-4 menu-small-block">
						<li><a href="/sculptures">Sculptures</a></li>
						<li><a href="/dessins">Dessins</a></li>
						<li><a href="/installations">Installations</a></li>
					</div>
					<div class="col-xs-4 menu-small-block">
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
					</div>
					<div class="col-xs-4 menu-small-block">
						<li><a target="_blank" href="https://www.facebook.com/clementine.dechabaneix.artwork">Facebook</a></li>
						<li><a target="_blank" href="https://www.behance.net/dechabaneix-art">Behance</a></li>
					</div>
				</div>
			</div>
		</div>
</template>
