<template name="menu">
<ul class="menu">
	<div class="menu-block">
		<li><a href="/sculptures">Sculptures</a></li>
		<li><a href="/dessins">Dessins</a></li>
		<li><a href="/installations">Installations</a></li>
</div>
	<div class="menu-block">
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	</div>
	<div class="menu-block">
		<li><a target="_blank" href="https://www.facebook.com/clementine.dechabaneix.artwork">Facebook</a></li>
		<li><a target="_blank" href="https://www.behance.net/dechabaneix-art">Behance</a></li>
	</div>
</ul>
</template>
