<template name="title">
<div class="container-fluid">

		<div id="title">
			<div class="row-fluid">
				<a class="hidden-xs hidden-sm" href="/">Clémentine de Chabaneix</a>
			</div>
		</div>
		<div class="col-md-9 content">
				<a class="title-small visible-xs visible-sm" href="/">Clémentine de Chabaneix</a>
		</div>	
</div>
</template>
