<template name="installations">
	<div class="content-title">Installations</div>
		<div class="img-content">
			<img src=/img/projects/installations/conversation_secrete.jpg>
				<span>CONVERSATION SECRETE / mixed media - 45 x 51 x 36 cm - 2013</span>
				<br/>
				<span>bande sonore : Pierre Boscheron</span>
				<br/><br/>
				<p align="justify">Dans l’installation « Conversation secrète », Clémentine de Chabaneix cherche à évoquer le dédoublement du corps et de l’esprit pendant le moment de rêve : « Le corps et l’esprit ne se consultent plus ou peu, mais restent menottés l’un à l’autre ». Un personnage féminin lévite au dessus de son lit, immobile. Autour d’elle, comme des ombres, des images apparaissent et s’évanouissent. Ces images, comme les idées pendant le rêve, ne sont pas reliées entre elles. Elles se suivent, se conjuguent ou se contredisent et forment un langage que ni le corps ni la conscience ne contestent. Une bande sonore évoque tantôt la présence du corps, par des sons concrets (respirations lente, étoffe froissée...) tantôt le langage du rêve avec des sons plus abstraits (nappes répétitives, hypnotiques, lancinantes, sons du quotidien déformés...) Une scène qu’on observera comme par effraction…. </p>
				<br/>
				<p align="right">Marie Deparis</p>
				<hr/>
			</div>
		<div class="img-content">
			<img src="/img/projects/installations/Au dela de mes reves vidalie editions-4688 copie.jpg" >
				<span>THE DREAM OF THE MARINER'S DAUGHTER / mixed media - 310 x 120 x 470 cm</span>
				<br/>
				<span>credit photo: vidalie éditions</span>
				<br/><br/>
				<img src="/img/projects/installations/fille mariner.jpg" >
				<br/><br/>
				<img src="/img/projects/installations/dream of the mariner detail2bd.jpg" >
				<br/><br/>
				<p align="justify">Un bateau traversé d'un arbre, qu'elle décrit comme un hommage à son père. Ce bateau, sur lequel se tient un arbre en péril, exprime, dans l'ambiguïté de son état, la force de résistance de la vie contre l'oubli et la mort, dans la traversée du dernier fleuve, Styx ou Léthé.
				<br/>Sur l'autre rive, la métamorphose, le renouveau, la jeunesse et les rêves. </p>
				<br/>
				<p align="right">Marie Deparis</p>
		</div>
</template>
