<template name="thanks">
	<div class="content-title">Merci !</div>
	<div class="thanks-content">
		<br/>
		<p>
			Votre inscription à la mailing-list est presque achevée!
			Merci de bien vouloir confirmer votre adresse en cliquant sur le lien présent dans l'e-mail que nous venons de vous envoyer.
		</p>
		<br/>
		<p>
			Your suscription to the mailing list is almost done, thanks!
			Be sure to confirm your e-mail adress by clicking on the link in the e-mail we just sent you. 
		</p>
	</div>
</template>
